<div data-ng-controller="MainCtrl as mc" class="row">
    <!-- loop through teams -->
    <div class="col-sm-6" data-ng-repeat="team in mc.teamChart">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row-fluid marginLeft">
                    <div class="checkbox">
                        <input type="checkbox" data-ng-model="team.checked" data-ng-click="mc.keepState(team.teamName, team.checked)">
                    </div>
                   <h4 class="panel-title">{{team.teamName}}</h4>
               </div>
            </div>
            <!-- loop through charts per team -->
            <div data-ng-repeat="chart in team.charts" class="panel-body" data-ng-class="{disabled: !team.checked}">
                <highchart config="chart"></highchart>
            </div>
        </div>
    </div>
</div>
